/* VARIABLES */
$theme-dark: #FFC7C7;
$theme-light: #f9d5d5;
$theme-accent: darken(#F6F6F6, 5%);
$theme-text: #232323;

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100vh;
}

/* GLOBAL CLASSES */
#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0 2%;
}

section {
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: $theme-text;
}

.my-btn,
.my-btn:active,
.my-btn:focus,
.my-btn.focus {
  background-color: darken($theme-light, 10%) !important;
  transition: background-color 0.2s ease-in-out;
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: $theme-accent;

  &:hover,
  &.open {
    background-color: darken($theme-light, 15%);
  }

  +.dropdown-menu a:hover {
    background-color: darken($theme-light, 10%);
  }
}

/* CUSTOM CLASSES */
body {
  background-color: $theme-accent;
  color: $theme-text;
}

.home {
  .user-card {
    background-color: $theme-dark;
    box-shadow: -2px 3px 5px rgb(50, 50, 50);
  }

  .wishlist-card {
    background-color: $theme-accent;
    border: 1px solid black
  }
}

header {
  background-color: $theme-dark;

  .logo {
    height: 30px;
  }

  nav {
    a {
      text-decoration: none;

      &.active,
      &.hover {
        text-decoration: underline;
        color: black;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .username {
      color: $theme-text;
    }

    .username,
    .slash {
      margin-right: 10px;
    }

    p {
      margin: 0 15px 0 0;

      span {
        color: $theme-accent;
      }
    }
  }
}

form {
  max-width: 450px;
  margin: 0 auto;
}

.auth {
  a {
    color: darken($theme-dark, 15%);
  }
}

.wishlists {
  .wishlist {
    border: $theme-text 1px solid;
    padding: 10px;
    max-width: 650px;
  }

  .wishlist-name {
    font-weight: 700;
  }

  .wishlist-dropdown {
    background-color: darken($theme-light, 10%) !important;
    border-radius: 3px;
    padding: 2px 3px;
    color: $theme-accent;

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &.open {
      background-color: darken($theme-light, 15%);
    }
  }

  .alert {
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
  }

  .product {
    .product-image {
      max-height: 50px;
    }
  }

  .product-btn {
    font-size: 14px;
  }
}

footer {
  .divider {
    left: 25%;
    width: 50%;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .copyright {
    font-size: 12px;
  }
}