* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    // margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.footerText {
    margin-bottom: 0 !important;
}


.navbar-nav {
    a {
        color: #000;
        text-decoration: none;

        &.active,
        &.hover {
            text-decoration: underline;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    span {
        margin-right: 10px;
    }

    p {
        margin: 0 15px 0 0;
        color: rgb(19, 136, 44);
    }
}

.divider {
    position: relative;
    left: 25%;
    width: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
}

.carimg {
    max-width: 100%;
    max-height: 100%;
}

.copyright {
    font-size: 12px;
}